body {
  background: #f5ebe0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}
p {
  text-align: center;
}

a {
  text-decoration: underline;
  color: green;
}
a .hover {
  text-decoration: none;
}

img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  margin: 30px;
}

.email-link {
  color: blue;
}
